{% extends 'base.html' %}
{% block content %}
<form method="POST" action="{% url 'pass_change' %}">
{% csrf_token %}
  {% for field in form %}
    <div class="control-group {% if field.errors %}error{% endif %}">
      <label class="control-label">
        {{ field.label }}
      </label>
      <div class="controls">
        {{ field }}
        <span class="help-line">{{ field.errors }}</span>
      </div>
    </div>
  {% endfor %}
  <button type="submit">Save</button>
</form>
{{ msg }}
{% endblock %}
