- load i18n

.modal.fade#forgot_password_modal(tabindex="-1", role="dialog", aria-labelledby="trade_modal_label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        .close(data-dismiss="modal")
      .modal-body.con-borde
        form#trade_modal_form.form-horizontal(role="form", action="{% url 'forgot_password' %}", method="post")
          - csrf_token
          input#item_id(type="hidden", name="article_id")
          input#user_items_trade(type="hidden", name="user_articles")
          h3.titular-seccion#trade_modal_label
            span {% trans 'Forgot your password?' %}
          .row.modal-body-content
            .col-md-12
              p.forgot-password {% trans 'Please provide us with your email address and we will send you a link to re-establish your password' %}
              .form-group
                label.control-label.col-md-2(for="input_email") {% trans 'Email' %}:
                .col-md-10
                  input#input_email.form-control(type="email", name="email")
          .row.text-center
            button.btn.confirm(type="submit") {% trans 'Remind me' %}
            button.btn.cancel(type="button", data-dismiss="modal") {% trans 'Cancel' %}